:root {
  --main-bg: #f5f5f5;
  --box-bg: #ffffff;
  --gray-bg: #ebebeb;
  --animation-box-bg: #fbfbfb;
  --animation-shadow: rgb(255 255 255 / 12%) 0 7px 14px 0, rgb(0 0 0 / 10%) 0 3px 6px 0;
  --text-color: #1d1d1d;
  --nav-hover-color: #6e6e6e;
  --active-nav-link: white;
  --theme-bg: rgb(233 233 233);
  --slider-color: #007aff;
  --box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 8%);
  --main-radios: 100px;
  --main-transition: .2s;
}

body.dark {
  --main-bg: #16171b;
  --box-bg: #1d1d1d;
  --gray-bg: #252323;
  --animation-box-bg: #1e1b1b;
  --animation-shadow: rgb(153 153 153 / 11%) 0 3px 69px 0, rgb(0 0 0 / 10%) 0 1px 1px 0;
  --active-nav-link: #ffeeee33;
  --theme-bg: rgb(80 80 80);
  --text-color: #b1b1b1;
  --nav-hover-color: #6e6e6e;
  --slider-color: #777;
  --box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 8%);
  --main-radios: 100px;
  --main-transition: .2s;
}

*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html, body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--main-bg);
  font-family: "system-ui", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

/* costum classes */
/* .box.map{
    padding: 0;
    justify-content: center;
    .gmap_canvas{
        border-radius: 1rem;
    }
} */
.columns-2 {
  grid-column: span 2;
}

.rows-2 {
  grid-row: span 2;
}

.theme {
  position: relative;
  height: 48px;
  width: 80px;
  border-radius: 40px;
  background-color: var(--theme-bg);
  box-shadow: transparent 0px 0px 0px 2px inset;
  display: grid;
  align-items: center;
  cursor: pointer;
}
.theme > div {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(29, 29, 29, 0.9098039216);
  transition: var(--main-transition);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  left: 10px;
}
.theme.active .moon {
  opacity: 1;
  left: 35px;
  background-color: rgba(0, 0, 0, 0.8901960784);
}
.theme.active .sun {
  opacity: 0;
}
.theme .moon {
  opacity: 0;
}

.arrow-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 4;
  transition: var(--main-transition);
}

.arrow {
  border-radius: 50%;
  padding: 14px;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(29, 29, 29, 0.9098039216);
  transition: var(--main-transition);
}
.arrow:hover {
  box-shadow: 0 0 0 7px rgba(173, 173, 173, 0.5);
}

.contact-btn {
  background: linear-gradient(45deg, rgba(255, 172, 89, 0.8784313725), #f6edb2);
  border-radius: var(--main-radios);
  color: var(--text-color);
  padding: 5px;
  transition: var(--main-transition);
}
.contact-btn:hover {
  box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
  transform: scale(1.04);
}
.contact-btn a {
  display: block;
  padding: 8px 1rem;
  background-color: var(--box-bg);
  border-radius: var(--main-radios);
  font-weight: 600;
  font-size: 1rem;
}

.half-opacity {
  opacity: 50%;
}

.fixedDiv {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 468px;
  background: var(--animation-box-bg);
  border-bottom-left-radius: 50px;
  box-shadow: var(--animation-shadow);
  overflow: hidden;
}

.fixedDiv:after {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(255, 172, 89, 0.8784313725);
  content: "";
  left: -120px;
  bottom: 5%;
  -webkit-animation: sinusoid 4s ease infinite;
  animation: sinusoid 4s ease infinite;
}

.fixedDiv.right:after {
  width: 100px;
  height: 100px;
  top: 10%;
  bottom: auto;
  right: -60px;
  left: auto;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fixedDiv.left {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0;
  left: 0;
  right: auto;
  width: 4%;
}

.fixedDiv.right-bottom {
  top: auto;
  bottom: 0;
}
.fixedDiv.right-bottom::after {
  width: 100px;
  height: 100px;
  top: 10%;
  bottom: auto;
  right: -60px;
  left: auto;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fixedDiv.left-bottom {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
}

@-webkit-keyframes sinusoid {
  0%, 50% {
    transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
            animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
    animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
  }
  25% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  75% {
    transform: translateY(20px);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes sinusoid {
  0%, 50% {
    transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
            animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
    animation-timing-function: cubic-bezier(0.2, 0.25, 0.55, 1);
  }
  25% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  75% {
    transform: translateY(20px);
    -webkit-animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
    animation-timing-function: cubic-bezier(0.45, 0, 0.8, 0.75);
  }
  to {
    transform: translateY(0);
  }
}
/* //////////////////////// */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav {
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 5px 10px;
  color: var(--text-color);
  border-radius: var(--main-radios);
  background-color: var(--gray-bg);
}
header li {
  border-radius: var(--main-radios);
  padding: 8px 1rem;
  font-weight: 500;
  transition: var(--main-transition);
  cursor: pointer;
}
header li.lang {
  display: none;
}
header li.active {
  background-color: var(--active-nav-link);
}
header li:hover {
  color: var(--nav-hover-color);
}

main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(233px, 1fr));
  grid-template-rows: repeat(5, 266px);
  gap: 24px;
}

.box {
  padding: 2rem;
  background-color: var(--box-bg);
  border-radius: 32px;
  box-shadow: var(--box-shadow);
  display: grid;
  align-items: center;
}

.introduction {
  justify-items: flex-start;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
}
.introduction img {
  max-width: 108.375px;
  max-height: 121.078px;
  margin-bottom: 2rem;
}
.introduction h4 {
  font-size: 28px;
  font-weight: 400;
  color: var(--text-color);
}
.introduction .name {
  font-size: 60px;
  background: linear-gradient(45deg, rgba(255, 172, 89, 0.8784313725), #f6edb2);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.introduction .text {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.6;
  max-width: 50ch;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.job-intro {
  color: var(--text-color);
  padding-left: 5rem;
}
.job-intro .text {
  font-weight: 500;
  display: grid;
  list-style: disc;
  gap: 10px;
}
.job-intro .text li {
  transition: var(--main-transition);
}
.job-intro .text li:hover {
  color: var(--nav-hover-color);
}

.learning-path h2 {
  color: var(--text-color);
}
.learning-path .path {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}
.learning-path .path:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: solid 1px #ddd;
}
.learning-path .path svg {
  margin-bottom: 10px;
  display: block;
}
.learning-path .path p {
  color: var(--text-color);
  font-weight: 500;
  transition: var(--main-transition);
}
.learning-path .path p:hover {
  color: var(--nav-hover-color);
}
.learning-path .path p.state {
  color: var(--nav-hover-color);
  font-size: 14px;
}

.media {
  justify-content: center;
  position: relative;
}
.media:hover .arrow-link {
  transform: translateY(-5px);
}

.github {
  background-color: #171515;
}
.github path {
  fill: white;
}

.dark .frontend-mentor img.logo {
  filter: invert(1);
}

.frontend-mentor {
  position: relative;
}
.frontend-mentor img {
  z-index: 2;
}
.frontend-mentor .dots {
  position: absolute;
  top: 37%;
  left: 58%;
  z-index: 1;
}
.frontend-mentor .dots:nth-of-type(2) {
  top: 0;
  left: 1rem;
}
.frontend-mentor .dots:nth-of-type(3) {
  top: auto;
  left: auto;
  bottom: 0;
  right: 1rem;
}
.frontend-mentor .dots circle {
  fill: turquoise;
}

.code-wars {
  background-color: rgba(29, 29, 29, 0.9647058824);
}

.project {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  cursor: pointer;
}
.project .project-img {
  width: 300px;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  border-radius: 30px;
  transition: var(--main-transition);
}
.project .link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
.project .text {
  display: grid;
  gap: 4rem;
  color: var(--text-color);
  align-self: flex-end;
}
.project .text p {
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}
.project:hover .project-img {
  transform: translateY(-5px);
}

.dark .project {
  background-blend-mode: exclusion;
}

.comment-project {
  background-image: url(images/blue.svg);
  background-size: cover;
  position: relative;
  cursor: pointer;
}
.comment-project .text {
  display: grid;
  gap: 1rem;
  color: var(--text-color);
}
.comment-project .text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.comment-project:hover .project-img {
  transform: translateY(-5px);
}
.comment-project .project-img {
  border-radius: 30px;
  transition: var(--main-transition);
}

.dark .comment-project {
  background-blend-mode: exclusion;
}

.store {
  background-image: url(images/orange.svg);
}

.space {
  background-image: url(images/dark.svg);
}

.theme-box {
  justify-content: center;
}

.box.slider {
  align-items: stretch;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.box.slider > .swiper {
  width: 100%;
}
.box.slider > .swiper span.swiper-pagination-bullet {
  background-color: var(--slider-color);
}
.box.slider .swiper-button {
  top: auto;
  bottom: 0;
}
.box.slider .swiper-button::after, .box.slider .swiper-button ::before {
  font-size: 30px;
  color: var(--slider-color);
}

@media (max-width: 728px) {
  .arrow-link {
    bottom: 10px;
    right: 7px;
  }
  main {
    max-width: 546px;
  }
  .container {
    padding: 0 2rem;
    grid-template-rows: repeat(10, 220px);
  }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding: 0 4rem;
  }
  header .contact-btn {
    justify-self: end;
  }
  header .nav {
    gap: 0;
    justify-content: space-between;
    order: 3;
    grid-column: span 2;
  }
  .learning-path h2 {
    font-size: 22px;
  }
  .learning-path .path {
    font-size: 13px;
  }
  .learning-path .path p.state {
    font-size: 12px;
  }
  .learning-path .path svg {
    width: 23px;
    height: 23px;
  }
  .project h3 {
    font-size: 18px;
  }
  .project .text p {
    font-size: 13px;
  }
  .project .project-img {
    width: 230px;
    right: 1rem;
  }
  .comment-project .text h3 {
    font-size: 17px;
  }
  .comment-project .text p {
    font-size: 13px;
  }
  .introduction {
    order: 1;
  }
  .introduction img {
    margin-bottom: 1rem;
  }
  .introduction .name {
    font-size: 45px;
  }
  .introduction .text {
    margin-bottom: 1rem;
  }
  .job-intro {
    order: 2;
  }
  .store {
    order: 3;
  }
  .theme-box {
    order: 4;
  }
  .learning-path {
    order: 5;
  }
  .comment-project {
    order: 6;
  }
  .box.slider {
    order: 7;
  }
  .space {
    order: 8;
  }
  .frontend-mentor {
    order: 9;
  }
  .github {
    order: 10;
  }
  .code-wars {
    order: 11;
  }
}
@media (max-width: 550px) {
  .columns-2 {
    grid-column: span 1;
  }
  .contact-btn a {
    font-size: 14px;
  }
  .theme {
    height: 40px;
    width: 68px;
  }
  .theme.active .moon {
    left: 28px;
  }
  .theme > div {
    width: 32px;
    height: 32px;
  }
  .theme svg {
    width: 20px;
    height: 18px;
  }
  header {
    padding: 0 1rem;
  }
  header li {
    font-size: 14px;
  }
  header li:last-of-type {
    display: none;
  }
  .container {
    grid-template-rows: repeat(10, 185px);
    grid-auto-rows: 185px;
  }
  .introduction {
    justify-items: center;
  }
  .introduction img {
    max-width: 90.375px;
    max-height: 90.078px;
    margin-bottom: 0.5rem;
  }
  .introduction h4 {
    font-size: 24px;
  }
  .introduction .name {
    font-size: 27px;
  }
  .introduction .text {
    font-size: 13px;
    text-align: center;
  }
  .job-intro {
    padding-left: 2rem;
    padding-block: 0;
  }
  .job-intro h2 {
    font-size: 18px;
  }
  .job-intro .text {
    font-size: 13px;
    gap: 5px;
  }
  .project {
    grid-row: span 2;
  }
  .project .text {
    align-self: flex-start;
    gap: 3rem;
    text-align: center;
  }
  .project .text p {
    color: var(--text-color);
  }
  .project .project-img {
    right: 50%;
    width: 270px;
    transform: translateX(50%);
  }
  .project:hover .project-img {
    transform: translate(50%, -5px);
  }
  .comment-project {
    background-size: 580px;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
  }
  .comment-project .project-img {
    justify-self: center;
    max-width: 270px;
    max-height: 210px;
  }
}/*# sourceMappingURL=style.css.map */